body > #root > div {
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.app-title {
    font-size: 45px;
}

.bg-text {
    overflow: auto;
    position: relative;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }

body {
    font-family: 'Futura', sans-serif;
    font-size: 20px;
}

#div {
    text-align: center;
}

h3 {
    text-align: center;
}

input{
    margin-left: 80px;
    text-align:left;
    width: 300px;
    height: 25px;
    font-size: 16px;
}

button {
    background-color: grey;
    background-color: rgba(0,0,0, 0.4); 
    border-radius: 5px;
    margin-left:30px;
    font-size: 12px;
    font-family: "Futura", sans-serif;
    color: white;
    text-decoration: none;
    padding: 7px;
    border: none;
    display: inline-block;
    transition: all 0.4s ease 0s;
}